.card {
    border: none;
    background: none;
    padding: 0;
}

.card img {
    height: 100px;
    width: auto;
    border: #3a3a3a solid 1px;
    border-radius: 9px;
    background-color: white;
}

.card-btn img {
    transition: transform 0.2s ease;
    background-color: white;
    border-radius: 10px;
}

.card-btn:hover img {
    transform: scale(1.1);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    padding-left: 40px;
}

.card-child {
    background-color: white;
    height: 100px;
    border-radius: 10px;
    margin-left: -40px;
}