<form action="{{ url_for('game_post') }}" method="post">
    <input type="hidden" id="card" name="card" value="">
    {% for card in player.cards %}
        {% set img_src = 'img/cards/' ~ card.suit ~ card.rank ~ '-fill.png' %}
        <button type="button" id="{{card.suit}}{{card.rank}}" onclick="toggleCardSelection('{{card.suit}}', '{{card.rank}}')" class="card card-btn">
            <img src="{{url_for('static', filename = img_src)}}" alt="{{card.suit}} {{card.rank}}">
        </button>
    {% endfor %}
    <input type="submit" value="Ok">
</form>
<form method="post" action="{{ url_for('game_post') }}">
    <input type="hidden" name="skip" value="true">
    <button type="submit">Skip</button>
</form>