{% extends 'base.html' %}

{% block title %}
    Credits
{% endblock %}

{% block body %}
    <main style="height: 100vh; margin-top: -11vh;" class="d-flex justify-content-center align-items-center">
        <div class="bg-dark-secondary p-5 rounded-5">
            <h1 class="f-anton h2 f-pink pb-3">Credits</h1>

            <div><a href="https://www.flaticon.com/free-icons/playing-cards" title="playing-cards icons" class="text-decoration-none text-white">Playing-cards icons created by riajulislam - Flaticon</a></div>
            <div><a href="https://www.flaticon.com/free-icons/cards" title="cards icons" class="text-decoration-none text-white">Cards icons created by Md Tanvirul Haque - Flaticon</a></div>
        </div>
    </main>
{% endblock %}