{% extends 'base.html' %}

{% block title %}
    Game settings
{% endblock %}

{% block body %}
    <main style="height: 100vh; margin-top: -11vh;" class="d-flex justify-content-center align-items-center">
        <div class="bg-dark-secondary p-5 rounded-5">
            <h1 class="f-anton h2 f-pink pb-3">Game settings</h1>

            <form action="{{ url_for('game_settings_get') }}" method="post">
                <select name="game_mode" id="game_mode">
                    <option value="bot">Singleplayer</option>
                    <option value="hotseat">Hotseat</option>
                    <option value="multiplayer" selected="selected">Multiplayer</option>
                </select>
                <select name="player_count" id="player_count">
                    <option value="2" selected="selected">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <input type="submit" value="Start" onclick="createMultiplayerGame(event)" class="btn btn-primary">
            </form>

            <form>
                <label for="join_code">Join with code</label>
                <div>
                    <input type="text" name="join_code" id="join_code" placeholder="Game code">
                    <button type="button" onclick="joinMultiplayerGame()" class="btn btn-primary">Join</button>
                </div>
            </form>

            {% if session.game_uuid %}
                <div>
                    <a href="{{ url_for('game_get') }}" class="btn btn-secondary">Return to game</a>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}