{% set round = game.current_round %}

<div id="main-board" style="padding-right: -250px;">
    <div class="card-container">
        {% for card in round.middle_cards %}
            {% set img_src = 'img/cards/' ~ card.suit ~ card.rank ~ '.png' %}
            <span class="card card-middle card-child">
                <img src="{{url_for('static', filename = img_src)}}" alt="{{card.suit}} {{card.rank}}">
            </span>
        {% endfor %}
    </div>

    <div class="pt-5 mt-5">
        <div><span class="f-anton f-pink h4">You </span><span class="f-pink-secondary f-anton h4">({{ my_player.name }})</span><span> {{ my_player.lost_rounds }}/3</span></div>
        {% if round.get_current_player().name == my_player.name and not round.is_over() and game.is_full_room() %}
            <div class="card-container">
                {% for card in my_player.cards %}
                    {% set img_src = 'img/cards/' ~ card.suit ~ card.rank ~ '-fill.png' %}
                    <button type="button" id="{{card.suit}}{{card.rank}}" onclick="toggleCardSelection('{{card.suit}}', '{{card.rank}}')" class="card card-btn card-child">
                        <img src="{{url_for('static', filename = img_src)}}" alt="{{card.suit}} {{card.rank}}">
                    </button>
                {% endfor %}
            </div>
            <form>
                <input type="hidden" id="card" name="card" value="">
                <button type="button" onclick="playCard()" class="btn btn-primary">Ok</button>
                <button type="button" onclick="skipCard()" class="btn btn-secondary">Skip</button>
            </form>
        {% else %}
            <div class="card-container">
                {% for card in my_player.cards %}
                    {% set img_src = 'img/cards/' ~ card.suit ~ card.rank ~ '-fill.png' %}
                    <span class="card card-middle card-child">
                        <img src="{{url_for('static', filename = img_src)}}" alt="{{card.suit}} {{card.rank}}">
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if game.is_over() %}
        <p class="py-4">Player {{ round.loser.name }} has lost the game.</p>
        {% if my_player == game.game_host %}
            <button type="button" onclick="restartGame()" class="btn btn-primary">Restart</button>
        {% endif %}
    {% endif %}

    {% if game.inactive_players %}
        <div class="pt-5">
            {% for player in game.inactive_players %}
                <div>Player {{ game.players[player].name }} has left the game.</div>
            {% endfor %}
        </div>
    {% endif %}
</div>

<div id="cards-aside" style="width: 250px;">
    {% for player in round.player_order %}
        {% if not player.name == my_player.name %}
            {% if round.get_current_player().name == player.name %}
                {% set class_underline = 'text-decoration-underline' %}{% else %}{% set class_underline = '' %}
            {% endif %}

            <div id="{{ player.name }}">
                <div class="py-2"><span class="f-pink f-anton h4 {{ class_underline }}">{{ player.name }}</span> {{ player.lost_rounds }}/3</div>
                <div class="card-container">
                    {% for card in player.cards %}
                        <span class="card card-child-aside">
                            <img src="{{url_for('static', filename='img/cards/playing-card.png')}}" alt="back of a playing card">
                        </span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <br>
    {% endfor %}
</div>