{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
    {% if not round.move_queue[0].is_playable %}
        <meta http-equiv="refresh" content="2; url={{ url_for('bot_move') }}" >
    {% endif %}
{% endblock %}

{% block title %}
    Rozgrywka
{% endblock %}

{% block body %}

{% for player in round.move_queue %}
    <div>{{ player.name }}</div>
    {% if round.move_queue[0] == player and round.move_queue[0].is_playable %}
        {% include 'choose_card_form.html' %}
    {% else %}
        {% for card in player.cards %}
            <div>{{ card.suit }}, {{card.rank}}</div>
        {% endfor %}
    {% endif %}
    <br>
{% endfor %}

{% for card in round.middle_cards %}
    <div>{{ card.suit }}, {{card.rank}}</div>
{% endfor %}

{% if round.is_over() %}
    {% for player in round.players %}
        <div>{{ player.name }}, {{ player.lost_rounds}}</div>
    {% endfor %}
{% endif %}

{% endblock %}
