{% extends "base.html" %}

{% block head %}
    <!--<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>-->
{% endblock %}

{% block title %}
    Ustawienia rozgrywki
{% endblock %}

{% block body %}
<h1>Ustawienia rozgrywki</h1>
<form action="{{ url_for('game_settings_get') }}" method="post">
    <select name="game_mode" id="game_mode">
        <option value="bot" selected="selected">Z komputerem</option>
        <option value="hotseat">Lokalnie</option>
        <option value="multiplayer">Multiplayer</option>
    </select>
    <select name="player_count" id="player_count">
        <option value="2" selected="selected">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <input type="submit" value="Graj" onclick="createMultiplayerGame(event)">
</form>

<br>
<br>

<form>
    <label for="join_code">Dołącz do gry</label>
    <input type="text" name="join_code" id="join_code" placeholder="Kod gry">
    <button type="button" onclick="joinMultiplayerGame()">Dołącz</button>
</form>

{% if session.game_uuid %}
<a href="{{ url_for('game_get') }}">Wróć do gry</a>
{% endif %}

{% endblock %}