{% set round = game.current_round %}

<div>
    <div>{{ my_player.name }} {{ my_player.lost_rounds }}/3</div>
    {% if round.get_current_player().name == my_player.name and not round.is_over() and game.is_full_room() %}
        <div class="card-container">
            {% for card in my_player.cards %}
                {% set margin = loop.index0 * 40 %}
                <button type="button" id="{{card.suit}}{{card.rank}}" onclick="toggleCardSelection('{{card.suit}}', '{{card.rank}}')" class="card card-btn card-child" style="left: {{ margin }}px;">
                    <img src="{{url_for('static', filename='img/cards/' ~ card.img_src)}}" alt="{{card.suit}} {{card.rank}}">
                </button>
            {% endfor %}
        </div>
        <form>
            <input type="hidden" id="card" name="card" value="">
            <button type="button" onclick="playCard()">Ok</button>
            <button type="button" onclick="skipCard()">Skip</button>
        </form>
    {% else %}
        <div class="card-container">
            {% for card in my_player.cards %}
            {% set margin = loop.index0 * 40 %}
                <span class="card card-middle card-child" style="left: {{ margin }}px;">
                    <img src="{{url_for('static', filename='img/cards/' ~ card.img_src)}}" alt="{{card.suit}} {{card.rank}}">
                </span>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% for player in round.player_order %}
    {% if not player.name == my_player.name %}
        <div id="{{ player.name }}">
            <div>{{ player.name }} {{ player.lost_rounds }}/3</div>
            <div class="card-container">
                {% for card in player.cards %}
                    {% set margin = loop.index0 * 25 %}
                    <span class="card card-middle card-child" style="left: {{ margin }}px;">
                        <img src="{{url_for('static', filename='img/cards/playing-card.png')}}" alt="back of a playing card">
                    </span>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <br>
{% endfor %}

<div class="card-container">
    {% for card in round.middle_cards %}
    {% set margin = loop.index0 * 40 %}
        <span class="card card-middle card-child" style="left: {{ margin }}px;">
            <img src="{{url_for('static', filename='img/cards/' ~ card.img_src)}}" alt="{{card.suit}} {{card.rank}}">
        </span>
    {% endfor %}
</div>

{% if round.is_over() and not game.is_over() %}
    {% for player in round.player_order %}
        <div>{{ player.name }}, {{ player.lost_rounds}}</div>
    {% endfor %}
{% elif game.is_over() %}
    <p>Player {{ round.loser.name }} has lost the game.</p>
    {% if my_player == game.game_host %}
        <button type="button" onclick="restartGame()">Restart</button>
    {% endif %}
{% endif %}