{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
    {% if not round.move_queue[0].is_playable %}
        <meta http-equiv="refresh" content="2; url={{ url_for('bot_move') }}" >
    {% endif %}
{% endblock %}

{% block title %}
    Rozgrywka
{% endblock %}

{% block body %}

{% for player in round.move_queue %}
    <div>{{ player.name }}</div>
    {% if round.move_queue[0] == player and round.move_queue[0].is_playable %}
        {% include 'choose_card_form.html' %}
    {% else %}
        {% for card in player.cards %}
            <span class="card card-middle">
                <img src="{{url_for('static', filename='img/cards/playing-card.png')}}" alt="back of a playing card">
            </span>
        {% endfor %}
    {% endif %}
    <br>
{% endfor %}

{% for card in round.middle_cards %}
    <span class="card card-middle">
        {% set img_src = 'img/cards/' ~ card.suit ~ card.rank ~ '.png' %}
        <img src="{{url_for('static', filename = img_src)}}" alt="{{card.suit}} {{card.rank}}">
    </span>
{% endfor %}

{% if round.is_over() %}
    {% for player in round.players.values() %}
        <div>{{ player.name }}, {{ player.lost_rounds}}</div>
    {% endfor %}
{% endif %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="https://www.flaticon.com/free-icons/playing-cards" title="playing-cards icons">Playing-cards icons created by riajulislam - Flaticon</a><br>
<a href="https://www.flaticon.com/free-icons/spade-card" title="spade card icons">Spade card icons created by Md Tanvirul Haque - Flaticon</a>

<script>
    let selectedCards = [];
    let selectedRank = null;
</script>

{% endblock %}
