{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
{% endblock %}

{% block title %}
    Rozgrywka
{% endblock %}

{% block body %}

{% set round = game.current_round %}
<div id="game-state" hx-get="{{ url_for('game_get') }}" hx-trigger="ws-message" hx-swap="innerHTML">

{% if round.get_current_player().name == my_player.name and not round.is_over() and game.is_full_room() %}
    <div>{{ my_player.name }} {{ my_player.lost_rounds }}/3</div>
    <form>
        <input type="hidden" id="card" name="card" value="">
        {% for card in my_player.cards %}
        <button type="button" id="{{card.suit}}{{card.rank}}" onclick="toggleCardSelection('{{card.suit}}', '{{card.rank}}')" class="card card-btn">
            <img src="{{url_for('static', filename='img/cards/' ~ card.img_src)}}" alt="{{card.suit}} {{card.rank}}">
        </button>
        {% endfor %}
        <button type="button" onclick="playCard()">Ok</button>
        <button type="button" onclick="skipCard()">Skip</button>
    </form>

{% else %}

<div>{{ my_player.name }} {{ my_player.lost_rounds }}/3</div>
{% for card in my_player.cards %}
    <span class="card card-middle">
        <img src="{{url_for('static', filename='img/cards/' ~ card.img_src)}}" alt="{{card.suit}} {{card.rank}}">
    </span>
{% endfor %}
{% endif %}

{% for player in round.player_order %}
{% if not player.name == my_player.name %}
    <div>{{ player.name }} {{ player.lost_rounds }}/3</div>
{% for card in player.cards %}
    <span class="card card-middle">
        <img src="{{url_for('static', filename='img/cards/playing-card.png')}}" alt="back of a playing card">
    </span>
{% endfor %}
{% endif %}
    <br>
{% endfor %}

{% for card in round.middle_cards %}
    <span class="card card-middle">
        <img src="{{url_for('static', filename='img/cards/' ~ card.img_src)}}" alt="{{card.suit}} {{card.rank}}">
    </span>
{% endfor %}

{% if round.is_over() and not game.is_over() %}
{% for player in round.player_order %}
    <div>{{ player.name }}, {{ player.lost_rounds}}</div>
{% endfor %}

{% if my_player == game.game_host %}
    <button type="button" onclick="startNewRound()">Restart</button>
{% endif %}

{% elif game.is_over() %}
    <p>Player {{ round.loser.name }} has lost the game.</p>
{% if my_player == game.game_host %}
    <button type="button" onclick="restartGame()">Restart</button>
{% endif %}

{% endif %}
</div>

<div id="player-disconnected-msg" style="display: none;"></div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="https://www.flaticon.com/free-icons/playing-cards" title="playing-cards icons">Playing-cards icons created by riajulislam - Flaticon</a><br>
<a href="https://www.flaticon.com/free-icons/spade-card" title="spade card icons">Spade card icons created by Md Tanvirul Haque - Flaticon</a>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        socket.on('connect', () => {
            console.log('joined room')
            socket.emit('join_room')
        })

        socket.on('player_disconnected', (data) => {
            console.log('player_disconnected', data.player_id, data.player_name)
            const element = document.getElementById('player-disconnected-msg')

            element.innerHTML = 'Player ' + data.player_name + ' has left the game.'
            element.style.display = 'block'
            htmx.trigger('#game-state', 'ws-message')
        });
    })

    let selectedCards = [];
    let selectedRank = null;
</script>

{% endblock %}
