{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
{% endblock %}

{% block title %}
    Rozgrywka
{% endblock %}

{% block body %}

{% for player in round.move_queue %}
    <div>Session: {{ session.player_name }}</div>
    {% if player.name == session.player_name %}

        <div>{{ player.name }}</div>
        {% if loop.first %}
            <form>
                <input type="hidden" id="card" name="card" value="">
                {% for card in player.cards %}
                    <button type="button" id="{{card.suit}}{{card.rank}}" onclick="selectCard('{{card.suit}}', '{{card.rank}}')" class="card card-btn">
                        <img src="{{url_for('static', filename='img/cards/' ~ card.img_src)}}" alt="{{card.suit}} {{card.rank}}">
                    </button>
                {% endfor %}
                <button type="button" onclick="playCard()">Ok</button>
                <button type="button" onclick="skipCard()">Skip</button>
            </form>
        {% else %}
            {% for card in player.cards %}
            <span class="card card-middle">
                <img src="{{url_for('static', filename='img/cards/' ~ card.img_src)}}" alt="{{card.suit}} {{card.rank}}">
            </span>
            {% endfor %}
        {% endif %}
    {% else %}
        <div>{{ player.name }}</div>
        {% for card in player.cards %}
            <!--<div>{{ card.suit }}, {{card.rank}}</div>-->
            <span class="card card-middle">
                <img src="{{url_for('static', filename='img/cards/playing-card.png')}}" alt="back of a playing card">
            </span>
        {% endfor %}
    {% endif %}
    <br>
{% endfor %}
{% for card in round.middle_cards %}
    <span class="card card-middle">
        <img src="{{url_for('static', filename='img/cards/' ~ card.img_src)}}" alt="{{card.suit}} {{card.rank}}">
    </span>
{% endfor %}

{% if round.is_over() %}
    {% for player in round.players %}
        <div>{{ player.name }}, {{ player.lost_rounds}}</div>
    {% endfor %}
{% endif %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="https://www.flaticon.com/free-icons/playing-cards" title="playing-cards icons">Playing-cards icons created by riajulislam - Flaticon</a><br>
<a href="https://www.flaticon.com/free-icons/spade-card" title="spade card icons">Spade card icons created by Md Tanvirul Haque - Flaticon</a>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        socket.on('connect', () => {
            console.log('joined room')
            socket.emit('join_room')
        })
    })
</script>

{% endblock %}
