{% extends "base.html" %}

{% block head %}
    <!--<meta http-equiv="refresh" content="2; url={{ url_for('game_get') }}" >-->
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
{% endblock %}

{% block body %}
    {{ round.join_code }}
    <br>
    Oczekiwanie na graczy
    <br>
    {{ round.players|count }} gracz(y) / {{ round.player_count }} graczy

<script>
    document.addEventListener('DOMContentLoaded', () => {
        socket.on('connect', () => {
            console.log('joined room')
            socket.emit('join_room')
        })
    })
</script>

{% endblock %}